# Directory where gh-pages branch stores documentation.
# This entry is (is not) commented out on the gh-pages (master) branch.
# All the other entries in this file are the same on both branches.
/doc/
#
# ------------------
# files at top level
# ------------------
# use to make git commits
/git_commit.sh
# ------------------------
# directories at top level
# ------------------------
# used to build documentation
/build/
/sphinx/rst/
/sphinx/latex/
/sphinx/_static/
/sphinx/index.rst
/sphinx/conf.py
#
# used to store ihme databases
/ihme_db/
#
# used to cache local changes (instead of using git cache)
/new/
/new.*/
#
# python compiled files
/at_cascade/__pycache__
/at_cascade/ihme/__pycache__
#
# used to build distribution
/at_cascade.egg-info/
/dist/
# --------------------------------
# file extensions in any directory
# --------------------------------
# vim swap files
*.swp
# ----------------------
# files in any directory
# ----------------------
temp
temp.*
